*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.navbar {
    margin: 0;
    width: 100%;
    height: 7.5%;
    border-bottom: 2px solid rgb(150, 224, 229);
    box-shadow: 0 5px 10px -2px rgb(150, 224, 229);
    position: fixed;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    z-index: 999;
}

.container-nav {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 0;
}

.navbar-logo {
    max-width: 6%;
    height: auto;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    max-width: 80%;
    padding: 0;
}

.navbar-menu li a {
    max-width: 80%;
    text-decoration: none;
    color: #000;
    font-size: 1.3vw;
    font-family: sans-serif;
}

.nav_icons img {
    max-width: 10%;
    max-height: 10%;
    margin-left: 4%;
    cursor: pointer;
}

.nav_icons {
    gap : 5%;
    max-width: 16%;
    max-height: 16%;
    display: flex;
    align-items: center;
}

.nav_list {
    display: none;
}







#Home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    max-width: 100%;
    background: url(img/bg.png) no-repeat center center;
    background-size: 85% auto;

}


#Home .container {
    display: flex;        
    align-items: flex-start;
    justify-content: space-between;
    max-width: 85%;
    gap: 5%;
}

.home-text {
    max-width: 50%;            
    color: #000;
    margin: 10% 0;
}

.home-text h1 {
    font-size: 3vw;
}

.home-text p {
    font-size: 1.1vw;
    margin: 10% 0;
}

.home-span {
    color: rgb(57, 169, 162);
}

.home-text .btn {
    margin-top: 2%;
    color: #fff;
    background-color: rgb(57, 169, 162);
    padding: 1.5% 3.5%;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-text .btn:hover {
    background-color: rgb(57, 169, 162);
    transform: translateY(-10%);
    box-shadow: 0 5px 15px rgba(69, 196, 196, 0.4);
}

.home-img {
    margin: 9% 0;
    width: 40%;          
    display: flex;
    justify-content: center;
}

.home-img img {
    width: 100%;
    height: auto;
}
