*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.navbar {
    margin: 0;
    width: 100%;
    height: 7.5%;
    border-bottom: 2px solid rgb(150, 224, 229);
    box-shadow: 0 5px 10px -2px rgb(150, 224, 229);
    position: fixed;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    z-index: 999;
}

.container-nav {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 0;
}

.navbar-logo {
    max-width: 6%;
    height: auto;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    max-width: 80%;
    padding: 0;
}

.navbar-menu li a {
    max-width: 80%;
    text-decoration: none;
    color: #000;
    font-size: 1.3vw;
    font-family: sans-serif;
}

.nav_icons img {
    max-width: 10%;
    max-height: 10%;
    margin-left: 4%;
    cursor: pointer;
}

.nav_icons {
    gap : 5%;
    max-width: 16%;
    max-height: 16%;
    display: flex;
    align-items: center;
}

.nav_list {
    display: none;
}







#Home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    max-width: 100%;
    background: url(assets/images/bg.png) no-repeat center center;
    background-size: 85% auto;

}


#Home .container {
    display: flex;        
    align-items: flex-start;
    justify-content: space-between;
    max-width: 85%;
    gap: 5%;
}

.home-text {
    max-width: 50%;            
    color: #000;
    margin: 10% 0;
}

.home-text h1 {
    font-size: 3vw;
}

.home-text p {
    font-size: 1.1vw;
    margin: 10% 0;
}

.home-span {
    color: rgb(57, 169, 162);
}

.home-text .btn {
    margin-top: 2%;
    color: #fff;
    background-color: rgb(57, 169, 162);
    padding: 1.5% 3.5%;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-text .btn:hover {
    background-color: rgb(57, 169, 162);
    transform: translateY(-10%);
    box-shadow: 0 5px 15px rgba(69, 196, 196, 0.4);
}

.home-img {
    margin: 9% 0;
    width: 40%;          
    display: flex;
    justify-content: center;
}

.home-img img {
    width: 100%;
    height: auto;
}







.cards {
    max-width: 100%;
    padding: 3% 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.cards .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
    max-width: 90%;
}

.cards .card {
    width: 19%;
    box-shadow: 0px 0px 5px 5px rgb(150, 228, 229);
    border-radius: 0.4%;
    padding: 1%;
    text-align: center;
    background-color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cards .card:hover {
    transform: translateY(-5%) scale(1.03);
    box-shadow: 0 10px 20px rgba(150, 212, 229, 0.6);
}

.cards .card img {
    max-width: 83%;
    height: 40%;
}

.cards .card h3 {
    margin: 0;
    font-size: 1.4vw;
}

.cards .card p {
    color: #555;
    margin-bottom: 0;
    font-size: 1.3vw;
}








#about {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    gap: 10%;
}

.about-text {
    max-width: 40%;
    color: #000;
}

.about-text h1 {
    font-size: 2.8vw;
}

.about-text p {
    font-size: 1vw;
    margin: 10% 0;
}

.about-text .btn {
    color: #fff;
    background-color: rgb(57, 169, 162);
    padding: 1vh 3vw;
    border: none;
    font-size: 1.3vw;
    cursor: pointer;
    transition: 0.3s;
}

.about-text .btn:hover {
    background-color: rgb(57, 169, 162);
    transform: translateY(-5%);
}

.about-img {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 100%;
    height: auto;
}

.about-text .btn {
    margin-top: 2%;
    color: #fff;
    background-color: rgb(57, 169, 162);
    padding: 1.5% 3.5%;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.about-text .btn:hover {
    background-color: rgb(57, 169, 162);
    transform: translateY(-10%);
    box-shadow: 0 5px 15px rgba(69,183,196,0.4);
}




.header-sec4{
  text-align: center;
  margin-top: 60px;
}
.card1 .btn{
  color: black;background-color: white;
  border: 2px solid var(--primary-color);
  margin-top: 5px;
}
.card1{
  border: 1px solid var(--second-color);
  width: fit-content;
  padding: 5px 50px 15px 50px;
  text-align: center;
  margin-bottom: 30px;
  margin: auto;


}
.star{
  color: var(--primary-color);
  margin-bottom: 8px;
}
.par-sec4{
  margin-top: 8px;
  margin-bottom: 8px;
}
/*
.parent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}*/
.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 50px;  
  row-gap: 25px;
  margin-bottom: 30px;
  
}
.card1:hover{
   box-shadow: 1px 1px 2px var(--primary-color),
   -1px -1px 2px var(--primary-color);
}
.card1 img{
   transition:all 0.3s ease-in-out;
   -webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
   -ms-transition:all 0.3s ease-in-out;
   -o-transition:all 0.3s ease-in-out;
}
.card1:hover img{
 transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -ms-transform: scale(1.2);
 -o-transform: scale(1.2);

}
.zoom{
  overflow: hidden;
}


.rectangles{
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  column-gap: 30px;
}
.rect {
   /*width: 20%;
   */margin-top: 50px;
   padding-left: 8px;
   padding-bottom: 10px;
   box-shadow: 2px 2px 2px var(--primary-color),   -2px -2px 2px var(--primary-color);
   transition:all 0.3s ease ;
   -webkit-transition:all 0.3s ease ;
   -moz-transition:all 0.3s ease ;
   -ms-transition:all 0.3s ease ;
   -o-transition:all 0.3s ease ;
}
.rect:hover{
   box-shadow: 0 2px 6px var(--second-color);
   transform: translateY(-12px);
   -webkit-transform: translateY(-12px);
   -moz-transform: translateY(-12px);
   -ms-transform: translateY(-12px);
   -o-transform: translateY(-12px);
}
.imgQoute img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 90px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.qoute{
 padding-right: 8px;
  font-size: 6em;
  color:rgb(211, 213, 213)
}
.imgQoute{
  padding-top: 0px;
}
.pr{
  padding-top: 10px;
  padding-bottom: 10px;
}
.name1{
  font-size: 1.5em;
}
.header5{
  text-align: center;
  font-size: 2em;
}
/*
.banner{
  margin-bottom: 30px;
  position: absolute;

}
.btn11{
 position: relative;
 
}*/
.btnImg{ 
    position: relative;
  margin-bottom: 50px;
}
.btn11{
  position: absolute;
  top: 67%;
  left: 7%;
}